{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "groups/manage_group_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb",
             url=url_for("groups.view_group", id=group.id, tab="revisions"),
             title=group.title %}
  {% snippet "breadcrumb",
             url=url_for("groups.view_revision", group_id=group.id, revision_id=revision.id),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_group", _module="groups", group=group, tab="revisions" %}

  <div class="card">
    <div class="card-body">
      <revision-item endpoint="{{ url_for('api.get_group_revision', group_id=group.id, revision_id=revision.id) }}"
                     :latest-revision="{{ group.ordered_revisions.first().id }}">
      </revision-item>
    </div>
  </div>
{% endblock %}
