{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "groups/manage_group_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("groups.view_group", id=group.id), title=group.title %}
{% endblock %}

{% block content %}
  <div class="card">
    <nav-tabs :tabs="['overview', 'records', 'collections', 'templates', 'revisions']">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "groups/snippets/view_overview.html" %}
      </template>
      <template #records-head>
        <i class="fa-solid fa-share-nodes"></i> {% trans %}Records{% endtrans %}
      </template>
      <template #records-body>
        {% include "groups/snippets/view_records.html" %}
      </template>
      <template #collections-head>
        <i class="fa-solid fa-share-nodes"></i> {% trans %}Collections{% endtrans %}
      </template>
      <template #collections-body>
        {% include "groups/snippets/view_collections.html" %}
      </template>
      <template #templates-head>
        <i class="fa-solid fa-share-nodes"></i> {% trans %}Templates{% endtrans %}
      </template>
      <template #templates-body>
        {% include "groups/snippets/view_templates.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "groups/snippets/view_revisions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      mounted() {
        kadi.base.visitItem('group', '{{ group.title }}', '{{ group.identifier }}', '/groups/{{ group.id }}');
      },
    });
  </script>
{% endblock %}
