{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% from "macros.html" import render_csrf, render_js %}

{% set user_active = current_user.is_authenticated
                     and current_user.state == UserState.ACTIVE
                     and not current_user.identity.needs_email_confirmation
                     and not current_user.needs_legals_acceptance %}

{% if user_active %}
  {% set can_create_records = has_permission(current_user, "create", "record", None) %}
  {% set can_create_collections = has_permission(current_user, "create", "collection", None) %}
  {% set can_create_templates = has_permission(current_user, "create", "template", None) %}
  {% set can_create_groups = has_permission(current_user, "create", "group", None) %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    {% include "snippets/base/meta.html" %}

    <title>
      {% block title %}
        {% if title %}{{ title }} &middot; Kadi4Mat{% else %}Kadi4Mat{% endif %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include "snippets/base/header.html" %}
    </header>

    <main>
      <script nonce="{{ csp_nonce() }}">
        const kadi = {
          {# Namespace for contextual data that is passed directly from the backend via "js_context". #}
          context: {{ (js_context or {}) | tojson }},
          {# Namespace for global variables. #}
          globals: {
            csrf_token: {{ csrf_token() | tojson }},
            environment: {{ environment | tojson }},
            experimental_features: {{ config["EXPERIMENTAL_FEATURES"] | tojson }},
            locale: {{ get_locale() | tojson }},
            user_active: {{ user_active | tojson }},
          },
        };
      </script>

      {{ render_js("main.js") }}

      <script nonce="{{ csp_nonce() }}">
        {% for locale, bundle in get_plugin_frontend_translations().items() %}
          i18next.addResourceBundle('{{ locale }}', 'translation', {{ bundle | tojson }}, true, false);
        {% endfor %}
      </script>

      <div class="container-fluid px-2 mb-4">
        <div class="form-row">
          <div class="col-xl-2 order-1 order-xl-1">
            <div class="container-fluid pr-xl-0">
              <div id="base-flash-messages" v-cloak>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                  <flash-message class="mb-4" message="{{ message }}" type="{{ category }}"></flash-message>
                {% endfor %}
                <flash-messages ref="component"></flash-messages>
              </div>
              <div id="base-recently-visited" v-cloak>
                <recently-visited class="mb-4" ref="component"></recently-visited>
              </div>
            </div>
          </div>

          <div class="col-xl-8 order-3 order-xl-2">
            <div class="container-fluid">
              {% if user_active %}
                {% set broadcast_message = get_sys_config(const.SYS_CONFIG_BROADCAST_MESSAGE) %}

                <div id="base-broadcast-message" v-cloak>
                  <broadcast-message class="mb-4"
                                     message="{{ broadcast_message }}"
                                     hash="{{ hash_value(broadcast_message, alg='md5') }}">
                  </broadcast-message>
                </div>
              {% endif %}

              {# Only show the container for breadcrumbs if the respective block is actually used in a template. #}
              {% if self.breadcrumbs() %}
                <nav class="mb-4">
                  <ol class="breadcrumb custom-breadcrumb">
                    {% block breadcrumbs %}{% endblock %}
                  </ol>
                </nav>
              {% endif %}

              {# As most pages use Vue, the container below is inserted into every page. #}
              <div id="base-content" v-cloak>
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>

          <div class="col-xl-2 order-2 order-xl-3">
            <div id="base-notification-manager" class="container-fluid pl-xl-0" v-cloak>
              <notification-manager endpoint="{{ url_for('api.get_notifications') }}" ref="component">
              </notification-manager>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      {% include "snippets/base/footer.html" %}
    </footer>

    {{ render_js("app/base.js") }}

    {% for script in get_plugin_scripts() %}
      <script src="{{ script }}"></script>
    {% endfor %}

    {% block scripts %}
      {# As most pages use Vue, the script below is inserted into every page by default. #}
      <script nonce="{{ csp_nonce() }}">
        kadi.base.newVue();
      </script>
    {% endblock %}
  </body>
</html>
