{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb",
             url=url_for("templates.view_template", id=template.id, tab="revisions"),
             title=template.title %}
  {% snippet "breadcrumb",
             url=url_for("templates.view_revision", template_id=template.id, revision_id=revision.id),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_template", _module="templates", template=template, tab="revisions" %}

  <div class="card">
    <div class="card-body">
      <revision-item endpoint="{{ url_for('api.get_template_revision', template_id=template.id,
                                          revision_id=revision.id) }}"
                     :latest-revision="{{ template.ordered_revisions.first().id }}">
      </revision-item>
    </div>
  </div>
{% endblock %}
