{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="users">
  <strong>{% trans %}Users{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    In this view, all registered users of the current Kadi4Mat instance are shown. Clicking on a user leads to a
    separate page, which contains another navigation menu, providing access to different subpages. The respective
    contents of these pages are briefly described below.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Profile{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans a_open='<a href="#settings"><strong>' | safe, a_close="</strong></a>" | safe %}
      On this page it is possible to see the basic information of a user, such as username and account type. Users are
      able to control some of the information shown on this page via the {{ a_open }}Settings{{ a_close }}.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Resources{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      This page shows all accessible resources that a specific user created. When looking at other users, resources that
      were (explicitly) shared with a user, either directly or via groups, are shown as well, including common groups.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Trash{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans duration=config["DELETED_RESOURCES_MAX_AGE"] | duration %}
      This is where deleted resources can be found, namely deleted records, collections, templates or groups. Resources
      can either be restored or deleted permanently. The latter will also happen automatically after {{ duration }}.
      Note that only the creator of a resource can restore or permanently delete it, which is why this menu is only
      shown for the own user.
    {% endtrans %}
  </dd>
</dl>
