{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_update_template = has_permission(current_user, "update", "template", template.id) %}

<div class="d-flex justify-content-between">
  <div class="d-md-inline d-flex flex-column">
    <a href="{{ url_for('templates.edit_template', id=template.id) }}"
       class="btn btn-sm btn-primary my-1{% if not can_update_template %} disabled{% endif %}">
      <i class="fa-solid fa-pencil"></i> {% trans %}Edit template{% endtrans %}
    </a>
    <a href="{{ url_for('templates.new_template', type=template.type, template=template.id) }}"
       class="btn btn-sm btn-primary my-1{% if not can_create_templates %} disabled{% endif %}">
      <i class="fa-solid fa-copy"></i> {% trans %}Copy template{% endtrans %}
    </a>
    <a href="{{ url_for('records.new_record', template=template.id) }}"
       class="btn btn-sm btn-primary my-1{% if not can_create_records %} disabled{% endif %}">
      {% trans %}Apply template{% endtrans %}
    </a>
  </div>
  <div class="d-md-inline d-flex flex-column">
    <div class="btn-group my-1">
      <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
        {% trans %}Export as{% endtrans %}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {% for export_type, export_meta in const.EXPORT_TYPES["template"].items() %}
          <a href="{{ url_for('templates.export_template', id=template.id, export_type=export_type) }}"
             class="dropdown-item">
            {{ export_meta["title"] }}
          </a>
        {% endfor %}
      </div>
    </div>
    <favorite-resource favorite-endpoint="{{ url_for('api.toggle_favorite_template', id=template.id) }}"
                       :is-favorite="{{ template.is_favorite() | tojson_escaped }}">
    </favorite-resource>
  </div>
</div>
<hr>

{{ template_hook("kadi_get_resource_overview_templates", resource=template) }}

<h5 class="float-right ml-4">
  <span class="badge badge-primary font-weight-normal">{{ template.type | capitalize }}</span>
</h5>

{% snippet "resources/basic_content", resource=template %}

<hr>
<p>
  <strong>{% trans %}Template data{% endtrans %}</strong>
</p>
<div class="card bg-light">
  <div class="card-body">
    {% include "templates/snippets/{}_template_overview.html".format(template.type) %}
  </div>
</div>
