{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block breadcrumbs %}
  {% snippet "breadcrumb_home" %}
  {% snippet "breadcrumb", url=url_for("accounts.login", tab=const.AUTH_PROVIDER_TYPE_LOCAL), title=_("Login") %}
  {% snippet "breadcrumb", url=url_for("accounts.request_password_reset"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <p>
        {% trans %}Please enter your username below.{% endtrans %}
        {% trans %}
          Instructions on how to reset your password will be sent to the email associated with this username.
        {% endtrans %}
      </p>
      <hr>
      <submission-form>
        {{ render_csrf() }}

        <text-field :field="{{ form.username }}"></text-field>
        <submit-field :field="{{ form.submit }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}
