{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block title %}
  {% if title %}{{ title }} &middot;{% endif %}
  {% trans %}Applications{% endtrans %} &middot;
  {% trans %}Settings{% endtrans %} &middot;
  Kadi4Mat
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("settings.manage_applications"), title=_("Applications") %}
  {% snippet "breadcrumb", url=url_for("settings.edit_application", id=application.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card bg-light mb-4">
    <div class="card-body py-2">
      <a href="{{ url_for('settings.manage_applications') }}">
        <i class="fas fa-angle-left mr-2"></i>
        <strong>{% trans %}Back to applications{% endtrans %}</strong>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <div class="row">
          <text-field class="col-lg" :field="{{ form.client_name }}"></text-field>
          <text-field class="col-lg" :field="{{ form.client_uri }}"></text-field>
        </div>
        <textarea-field :field="{{ form.redirect_uris }}" :rows="3"></textarea-field>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <i class="fa-solid fa-circle-info"></i>
            {% trans %}
              Note that changing the scopes will require existing users of your application to redo the authorization
              flow once their current access token is expired.
            {% endtrans %}
          </div>
        </div>
        <scopes-field :field="{{ form.scope }}" :scopes="kadi.context.scopes"></scopes-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <button type="button" class="btn btn-danger" @click="deleteApplication">
            {% trans %}Delete application{% endtrans %}
          </button>
        </div>
      </submission-form>
    </div>
  </div>
  <form action="{{ url_for('settings.delete_application', id=application.id) }}" method="post" ref="delete">
    {{ render_csrf() }}
  </form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        deleteApplication() {
          if (window.confirm('{{ _("Are you sure you want to delete this application?") }}')) {
            this.$refs.delete.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
