{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.view_record", id=record.id, tab="files"), title=record.title %}
  {% snippet "breadcrumb", url=url_for("records.add_files", id=record.id), title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_record", _module="records", record=record, file=current_file, tab="files" %}

  <div class="card">
    <nav-tabs :tabs="['files', 'drawing', 'text'{% if config['WORKFLOW_FEATURES'] %}, 'workflow'{% endif %}]"
              :preload="['files']"
              @change-tab="changeTab"
              ref="navTabs">
      <template #files-head>
        <strong>{% trans %}Upload files{% endtrans %}</strong>
      </template>
      <template #files-body>
        {% include "records/snippets/upload_files.html" %}
      </template>
      <template #drawing-head>
        {% trans %}Create drawing{% endtrans %}
      </template>
      <template #drawing-body>
        {% include "records/snippets/upload_drawing.html" %}
      </template>
      <template #text-head>
        {% trans %}Create text{% endtrans %}
      </template>
      <template #text-body>
        {% include "records/snippets/upload_text.html" %}
      </template>

      {% if config['WORKFLOW_FEATURES'] %}
        <template #workflow-head>
          Create workflow
        </template>
        <template #workflow-body>
          {% include "records/snippets/upload_workflow.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/records/add-files.js") }}
{% endblock %}
