{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/base.html" %}

{% block content %}
  <search-form class="mb-4" :extras-search="true" @search="search"></search-form>
  <div class="row">
    <div class="col-xl-4">
      {% if can_create_records %}
        <div class="mb-4">
          <a class="btn btn-primary btn-block mb-2" :href="newRecordEndpoint">
            <i class="fa-solid fa-square-plus"></i> {% trans %}Create new record{% endtrans %}
          </a>
          <dynamic-selection placeholder="{% trans %}Select a record template{% endtrans %}"
                             endpoint="{{ url_for('api.select_templates', type='record') }}"
                             container-classes="select2-single-sm"
                             @select="selectTemplate"
                             @unselect="unselectTemplate">
          </dynamic-selection>
        </div>
      {% endif %}

      <saved-search class="mb-4"
                    object-type="record"
                    select-endpoint="{{ url_for('api.select_saved_searches') }}"
                    create-endpoint="{{ url_for('api.new_saved_search') }}"
                    load-base-endpoint="{{ url_for('api.get_saved_search', id=0)[:-2] }}">
      </saved-search>
      <div class="mb-4">
        <collapse-item id="filter-toggle" class="btn btn-sm btn-block btn-light text-left px-4">
          {% trans %}Toggle filters{% endtrans %}
        </collapse-item>
      </div>
      <div id="filter-toggle">
        <search-per-page class="mb-4" @search="search"></search-per-page>
        <search-selection class="mb-4"
                          param="visibility"
                          title="{% trans %}Filter by visibility{% endtrans %}"
                          :choices="[['', '{% trans %}All{% endtrans %}'],
                                     ['private', '{% trans %}Private{% endtrans %}'],
                                     ['public', '{% trans %}Public{% endtrans %}']]"
                          @search="search">
        </search-selection>
        <search-filter class="mb-4"
                       param="user"
                       endpoint="{{ url_for('api.select_users') }}"
                       title="{% trans %}Filter by creator{% endtrans %}"
                       placeholder="{% trans %}Select users{% endtrans %}"
                       :initial-values="kadi.context.users"
                       @search="search">
        </search-filter>
        <search-filter class="mb-4"
                       param="collection"
                       endpoint="{{ url_for('api.select_collections') }}"
                       title="{% trans %}Filter by collection{% endtrans %}"
                       placeholder="{% trans %}Select collections{% endtrans %}"
                       :initial-values="kadi.context.collections"
                       @search="search">
          <div class="card-footer py-2 px-3">
            <search-toggle label="{% trans %}Include child collections{% endtrans %}"
                           param="child_collections"
                           :show-border="false"
                           @search="search">
            </search-toggle>
          </div>
        </search-filter>
        <search-filter class="mb-4"
                       param="type"
                       endpoint="{{ url_for('api.select_record_types') }}"
                       title="{% trans %}Filter by type{% endtrans %}"
                       placeholder="{% trans %}Select types{% endtrans %}"
                       @search="search">
        </search-filter>
        <search-filter class="mb-4"
                       param="tag"
                       endpoint="{{ url_for('api.select_tags', type='record') }}"
                       title="{% trans %}Filter by tag{% endtrans %}"
                       placeholder="{% trans %}Select tags{% endtrans %}"
                       @search="search">
          <div class="card-footer py-2 px-3">
            <search-selection param="tag_operator"
                              :show-border="false"
                              :choices="[['or', '{% trans %}OR{% endtrans %}'],
                                         ['and', '{% trans %}AND{% endtrans %}']]"
                              @search="search">
            </search-selection>
          </div>
        </search-filter>
        <search-filter class="mb-4"
                       param="mimetype"
                       endpoint="{{ url_for('api.select_mimetypes') }}"
                       title="{% trans %}Filter by file MIME type{% endtrans %}"
                       placeholder="{% trans %}Select MIME types{% endtrans %}"
                       @search="search">
        </search-filter>
      </div>
    </div>
    <div class="col-xl-8">
      <search-resources endpoint="{{ url_for('api.get_records') }}" ref="search"></search-resources>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        newRecordEndpoint: kadi.context.new_record_endpoint,
      },
      methods: {
        selectTemplate(template) {
          this.newRecordEndpoint = `${kadi.context.new_record_endpoint}?template=${template.id}`;
        },
        unselectTemplate() {
          this.newRecordEndpoint = kadi.context.new_record_endpoint;
        },
        search() {
          this.$refs.search.search();
        },
      },
    });
  </script>
{% endblock %}
