{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <strong>{% trans %}An application is requesting access to your account{% endtrans %}</strong>
    </div>
    <div class="card-body">
      {% trans client='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>{}</strong></a>'
                      .format(client.client_uri, client.client_name) | safe,
               user='<identity-popover :user="{}" :open-in-new-tab="true"></identity-popover>'
                    .format(json_user(client.user) | escape) | safe %}
        The application {{ client }}, which was created by {{ user }}, is requesting access to your Kadi4Mat account.
        Please verify the authenticity of the application before authorizing it to act on your behalf via the HTTP API
        of Kadi4Mat.
      {% endtrans %}
      <div class="my-2">
        {% trans %}The following permissions/scopes are requested by the application:{% endtrans %}
      </div>
      <div class="card bg-light p-2 pl-3">
        {% if client.scope %}
          <ul class="m-0 pl-3">
            {% for scope in client.scope.split() %}
              <li>
                <pre class="ws-pre-wrap mb-0">{{ scope }}</pre>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <em>{% trans %}Full access{% endtrans %}</em>
        {% endif %}
      </div>
      <hr>
      <submission-form>
        {{ render_csrf() }}

        <submit-field :field="{{ form.submit_auth }}"></submit-field>
        <submit-field class="btn-danger" :field="{{ form.submit_deny }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}
