{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb",
             url=url_for("collections.view_collection", id=collection.id),
             title=collection.title %}
  {% snippet "breadcrumb",
             url=url_for("collections.export_collection", id=collection.id, export_type=export_type),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_collection", _module="collections", collection=collection, tab="overview" %}

  <div class="card">
    <div class="card-body">
      {% if export_type == "ro-crate" %}
        <small>
          <i class="fa-solid fa-circle-info"></i>
          {% trans a_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'
                          .format(const.URL_ELN_SPEC) | safe,
                   a_close="</strong></a>" | safe,
                   em_open="<em>" | safe,
                   em_close="</em>" | safe %}
            The structure of the exported RO-Crate follows the {{ a_open }}ELN file format{{ a_close }} specification
            that is currently under development. Note that the preview is limited to the {{ em_open
            }}ro-crate-metadata.json{{ em_close }} file of the RO-Crate.
          {% endtrans %}
        </small>
        <hr class="mt-1">
      {% endif %}

      <resource-export resource-type="collection"
                       export-type="{{ export_type }}"
                       endpoint="{{ url_for('api.get_collection_export_internal',
                                            id=collection.id,
                                            export_type=export_type) }}">
      </resource-export>
    </div>
  </div>
{% endblock %}
