{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="row">
  <div class="col-lg-8">
    <select-field classes="custom-select custom-select-sm" :field="{{ form.export_type }}"></select-field>
  </div>
  <div class="col-lg-4 d-lg-flex justify-content-end mb-3">
    <span>
      <collapse-item id="collapse-customization" class="btn btn-sm btn-light" :is-collapsed="true">
        {% trans %}Customize export data{% endtrans %}
      </collapse-item>
    </span>
  </div>
</div>
<div id="collapse-customization">
  <export-filter-field resource-type="record"
                       :field="{{ form.export_filter }}"
                       {% if resource.extras %}:extras="{{ resource.extras | tojson_escaped }}"{% endif %}>
  </export-filter-field>
</div>
<checkbox-field :field="{{ form.package_data }}"></checkbox-field>
